<style>
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
<table>
    <tr>
        <th>Symbol</th>
        <th>Time</th>
        <th>Open</th>
        <th>High</th>
        <th>Low</th>
        <th>Close</th>
    </tr>
    {% for item in query_results %}
    <tr>
        <td>{{ item.symbol.symbol }}</td>
        <td>{{ item.time }}</td>
        <td>{{ item.open | floatformat:4 }}</td>
        <td>{{ item.high | floatformat:4 }}</td>
        <td>{{ item.low | floatformat:4 }}</td>
        <td>{{ item.close | floatformat:4 }}</td>
    </tr>
    {% endfor %}
</table>