# Vscode settings
.vscode/

# Dukascopy historical data
data/

# Sample data for backtrader
datas/

# Python virtual environment
fypenv/

# UWSGI Sock
fyp/fyp.sock

# SQLite3 Database
fyp/db.sqlite3
fyp/db.sqlite3-journal

# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class
