# Vscode settings
.vscode/

# Dukascopy historical data
data/

# Reports of location execution
auto_forex_trading_project/executions/reports/

# Python virtual environment
venv/

# UWSGI Sock for production
auto_forex_trading_project/forex.sock

# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class
