# Vscode settings
.vscode/

# Dukascopy historical data
data/

# Python virtual environment
venv/

# Productions Related
auto_forex_trading_project/.env
auto_forex_trading_project/forex.sock

# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class
