{% extends 'base.html' %}
{% block content %}
{% load static %}
<script>
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Get the forms we want to add validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();

    $(function () {
        $('#history_table').DataTable();
    });

    $(function () {
        $("#id_date_from").datepicker({
            autoclose: true,
            format: 'dd/mm/yyyy',
            orientation: "bottom",
            todayBtn: "linked",
            todayHighlight: true,
        }).on('changeDate', function (event) {
            var minDate = new Date(event.date);
            minDate.setDate(minDate.getDate() + 1);
            $('#id_date_before').datepicker('setStartDate', minDate);
        });
    });

    $(function () {
        $("#id_date_before").datepicker({
            autoclose: true,
            format: 'dd/mm/yyyy',
            orientation: "bottom",
            todayBtn: "linked",
            todayHighlight: true,
        }).on('changeDate', function (event) {
            var maxDate = new Date(event.date);
            maxDate.getDate(maxDate.getDate() - 1);
            $('#id_date_from').datepicker('setEndDate', maxDate);
        });
    });

</script>
<form class="row m-5 needs-validation" method="post" novalidate>
    {% csrf_token %}
    {% for field in history_form %}
    <div class="col-auto m-1">
        <label for={{field.auto_id}} class="form-label">{{ field.label }}</label>
        {{ field }}
        {% if field.name == 'date_from' or 'date_before' %}
        <div class="invalid-feedback">
            * Invalid datetime.
        </div>
        {% endif %}
    </div>
    {% endfor %}
    <div class="col-auto m-1">
        <label for=id_submit class="form-label">&nbsp;</label>
        <input class="btn btn-primary form-control" id="id_submit" type="submit" value="Submit">
    </div>
</form>
{% if request.method == 'POST' %}
{% if query_results.count > 3 %}
<div class="container">
    <div class='row justify-content-sm-center m-2'>
        <legend>Backtest Stratgy</legend>
        <div class="col form-control m-2 text-center">
            <form id="id_macd" class="needs-validation" action="backtest/" method="post" novalidate>
                {% csrf_token %}
                <div class="form-floating m-2">
                    <input type="number" min="2" class="form-control" name="macd_fast_ma_period" id="id_macd_fast_ma_period" placeholder="2" required>
                    <label for="id_macd_fast_ma_period">Fast MA Period</label>
                    <div class="invalid-feedback">
                        * Fast MA period must be at least 2.
                    </div>
                </div>
                <div class="form-floating m-2">
                    <input type="number" min="3" max="{{query_results.count|add:'-1'}}" class="form-control" name="macd_slow_ma_period" id="id_macd_slow_ma_period" placeholder="3" required>
                    <label for="id_macd_slow_ma_period">Slow MA Period</label>
                    <div class="invalid-feedback">
                        * Slow MA period must be greater than fast MA period and least than number of bars.
                    </div>
                </div>
                <input type="hidden" name="number_of_bars" id="id_number_of_bars" value="{{ number_of_bars }}">
                <button type="submit" name="macd" class="btn btn-outline-primary mb-2">MACD</button>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% load tz %}
<div class="container">
    <div class='row m-2'>
        <legend>Historical Data</legend>
        <div class="col form-control m-2 text-center">
            <table id="history_table" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Open</th>
                        <th>High</th>
                        <th>Low</th>
                        <th>Close</th>
                        <th>Volume (M)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in query_results %}
                    <tr>
                        <td>{{ item.time | date:'Y-m-d H:i' }}</td>
                        <td>{{ item.open | floatformat:decimal_place }}</td>
                        <td>{{ item.high | floatformat:decimal_place }}</td>
                        <td>{{ item.low | floatformat:decimal_place }}</td>
                        <td>{{ item.close | floatformat:decimal_place }}</td>
                        <td>{{ item.volume | floatformat:decimal_place }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Time</th>
                        <th>Open</th>
                        <th>High</th>
                        <th>Low</th>
                        <th>Close</th>
                        <th>Volume (M)</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
{% endif %}
{% if limit_of_result %}
Note that number of returned bars are limited to {{ limit_of_result }}
{% endif %}
{% endblock %}